{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.announce }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="success" type="submit">Опубликовать статью</button>
        </form>
    </div>
{% endblock %}