{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="features">
    <h1>О нас</h1>
    <p>Место, в которые Вы попали поистине чудесно! Здесь обитают вязальщицы, которые не только создают шедевры, но и делятся секретами своего мастерства с другими! <br>
        <br>
        На нашем сайте любой посетитель найдет для себя бесплатные схемы для вязания крючком и спицами, мастер-классы, полезные советы и многое другое <br>
        <br>
        Давайте учиться творить вместе и вдохновлять друг друга своими успехами!</p>
</div>
{% endblock %}