* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #442D28;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

p {
    text-align: left;
    max-width: 650px; 
    margin: 50px auto 20px auto;
}

h1 {
    font-family: 'Philosopher', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    z-index: 999;
    background-color: rgba(255, 229, 214, 0.7);
    border-bottom: 2px solid #FEBE98;
}

nav {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

img {
    width: 200px;
    float: left;
}

header h3 {
    margin-top: 50px;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 60px;
    align-items: center;
}

ul li {
    color: #AF6352;
    display: block;
    margin-top: 20px;
    text-align: center;
}

ul a {
    text-decoration: none;
}

ul li:hover, ul a:hover {
    color: #ffffff;
    text-decoration: none;
}

.info {
    background-color: #ffffff;
    border: 2px solid #FEBE98;
    border-radius: 32px;
    color: #AF6352;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.info:hover {
    background-color: #FEBE98;
    border: 2px solid #FEBE98;
    color: #ffffff;
}

.success {
    background-color: #FEBE98;
    border: 2px solid #FEBE98;
    border-radius: 32px;
    color: #ffffff;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.success:hover {
    background-color: #ffffff;
    border: 2px solid #FEBE98;
    color: #AF6352;
}

.danger {
    background-color: #ffffff;
    border: 2px solid #5C403A;
    border-radius: 32px;
    color: #442D28;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.danger:hover {
    background-color: #5C403A;
    border: 2px solid #5C403A;
    color: #ffffff;
}

main .features {
    float: center;
    text-align: center;
    width: 100%;
}

main .features h1 {font-size: 48px; padding-top: 170px}
main .features h3 {font-size: 28px; font-family: 'Philosopher', sans-serif}

.alert-warning {
    float: center;
    clear: both;
    margin: 20px 0 20px 0;
    text-align: left;
    background: #ffffff;
    border: 2px solid #FEBE98;
    padding: 32px;
}

.alert-warning p {margin: 20px 0}

form {
    float: center;
    margin-top: 50px;
}

label {
    display: none;
  }
  
  #burger-toggle {
    display: none;
  }
  
@media (max-width: 768px) {
  img {
    width: 170px;
  }
  label {
    position: fixed;
    display: block;
    right: 30px;
    top: 32px;
    height: 25px;
    width: 30px;
    text-align: center;
  }

  label::after, label::before, label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #AF6352;
    transition: .3s;
  }

  label::before {
    content: "";
    top: 0;
  }

  label::after {
    content: "";
    bottom: 0;
  }

  label span {
    top: 11px;
  }

  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }

  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
  }

  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }

  ul {
    position: fixed;
    left: 0;
    right: 0;
    padding: 400px 0 36px 0;
    z-index: -1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    background-color: rgba(255, 229, 214);
    border-bottom: 2px solid #FEBE98;

    left: -100vw;
    right: 100vw;

  }

  #burger-toggle:checked ~ ul {
    left: 0;
    right: 0;
  }

  ul a {
    font-size: 20px;
  }

  .info {
    font-size: 20px;
  }
}
  
@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
  main .features h1 {
        font-size: 36px;
    }
}
